.modalBackdrop {
    width: 100vw;
    height: 100vw;
    position: fixed;
    left: 0;
    z-index: 10;
}


.modal {
    --width: 20%;
    --height: 30%;
    --transition-time: 0.3s;

    position: fixed;
    width: var(--width);
    height: var(--height);
    left: calc(50vw - var(--width) / 2);
    top: calc(50vh - var(--height) / 2);
    opacity: 1;
    border-radius: 1em;
    background-color: white;
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 10px black;
    z-index: 11;
    overflow: hidden;
    font-family: var(--font-family);
    padding: 1em;
}

.modalText {
    margin: 1em;
    height: fit-content;
}

.modalTitleInputContainer {
    position: relative;
    width: 70%;
}

.modalTitleInput {
    align-self: center;
    width: calc(100% - 0.1em);
    outline: 0;
    border: 0;
    font-family: var(--font-family);
    font-size: 20px;
    padding: 0 0 0 0.1em;
}

.modalTitleInputContainer::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: black;
    width: 0%;
    height: 1px;
    transition: width 0.5s;
    z-index: 3;
}

.modalTitleInputContainer:focus-within::after {
    width: 100%;
}

.modalDescriptionInput {
    resize: none;
    align-self: center;
    height: 30%;
    font-family: var(--font-family);
    outline: 0;
    border: 1px solid transparent;
    margin: 1em 0;
    width: 70%;
}

.modalSaveButton {
    font-family: var(--font-family);
    font-weight: bold;
    border: 0;
    background-color: transparent;
}
